@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
}
body {
  font-family: "Roboto Condensed" sans-serif;
}

/* NAVBAR */
.logo {
  width: 16.25rem;
}

/* NENU LINKS */
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

.ml-auto {
margin-left: auto;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
